@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.local-box{
        background-color:#b5a197 !important;
        margin-bottom: 20px;
        height: 200px;
}
#local-title-text{
        font-family: 'Muli', sans-serif;
        color: #F3F5F9;
        font-weight: 700;
        font-style: bold;
        line-height: 1.58;
        letter-spacing: -.003em;
        font-size: 20px;
}
#local-subtitle-text{
        font-family: 'Muli', sans-serif;
        color: #F3F5F9;
        font-weight: 200;
        line-height: 1.58;
        letter-spacing: -.003em;
        font-size: 16px;
}
.local-container{
   padding: 1%; 
}
.local-image{
        height: 15rem;
        width: 10rem;
        object-fit: cover;
        object-position: center;
}