@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.team-box{
        background-color:#F3F5F9 !important;
        margin-bottom: 1em;
}
.team-container{
   padding-top: 3em; 
   padding-bottom: 2em;
}
.team-image{
        height: 20rem;
        width: 20rem;
        object-fit: cover;
        object-position:top;
}
#team-title-text{
        font-family: 'Muli', sans-serif;
        color: #b5a197;
        font-weight: 700;
        font-style: bold;
        line-height: 1.58;
        letter-spacing: -.003em;
        font-size: 20px;
        text-align: center;
}
#team-subtitle-text{
        font-family: 'Muli', sans-serif;
        color: #F3F5F9;
        font-weight: 200;
        line-height: 1.58;
        letter-spacing: -.003em;
        font-size: 16px;
        text-align: center;
}
